@model Naanayam.Web.Models.ChangePassword

<br />
<br />
@using (Html.BeginForm("ChangePassword", "Profile", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table width="100%">
        <tr>
            <td width="35%">&nbsp;</td>
            <td width="30%">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">
                        <h3 class="panel-title"><b>Change Password</b></h3>
                    </div>
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    @Html.PasswordFor(i => i.CurrentPassword, new { @class = "form-control", placeholder = "Current Password" })
                                    @Html.ValidationMessageFor(i => i.CurrentPassword, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    @Html.PasswordFor(i => i.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                                    @Html.ValidationMessageFor(i => i.NewPassword, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(i => i.ConfirmPassword, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td style="text-align:center">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <small>
                                        @Html.ValidationMessage("Authentication", new { @class = "text-danger" })
                                    </small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td width="35%">&nbsp;</td>
        </tr>
    </table>
}
<br />
<br />